EXPO_PUBLIC_API_URL=http://<YOUR_LOCAL_IP>:8000/api
EXPO_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_replace_me
EXPO_PUBLIC_STRIPE_MERCHANT_IDENTIFIER=merchant.club.onedining.customer
EXPO_PUBLIC_STRIPE_MERCHANT_COUNTRY_CODE=RO
EXPO_PUBLIC_STRIPE_CURRENCY_CODE=RON
EXPO_PUBLIC_STRIPE_MERCHANT_DISPLAY_NAME=YUMZY
EXPO_PUBLIC_STRIPE_RETURN_URL=onediningclub://stripe-redirect
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=
EXPO_PUBLIC_FACEBOOK_CLIENT_ID=
