<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>YUMZY</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>onediningclub</string>
          <string>club.onedining.customer</string>
        </array>
      </dict>
    </array>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>LSMinimumSystemVersion</key>
    <string>12.0</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <false/>
      <key>NSAllowsLocalNetworking</key>
      <true/>
    </dict>
    <key>NSCameraUsageDescription</key>
    <string>YUMZY folosește camera pentru a face o fotografie pe care o poți atașa la comentariul sau review-ul unui produs.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>YUMZY folosește locația ta pentru a seta adresa de livrare, a localiza poziția curentă pe hartă și a afișa restaurantele disponibile în zona ta.</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>YUMZY folosește locația ta pentru a seta adresa de livrare, a localiza poziția curentă pe hartă și a afișa restaurantele disponibile în zona ta.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>YUMZY folosește locația ta cât timp folosești aplicația pentru a seta adresa de livrare, a localiza poziția curentă pe hartă și a afișa restaurantele disponibile în zona ta.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>YUMZY poate reda conținut video cu sunet în feed-ul aplicației.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>YUMZY folosește galeria foto pentru a alege imagini pe care le poți atașa la comentariul sau review-ul unui produs.</string>
	<key>RCTNewArchEnabled</key>
	<true/>
    <key>UILaunchStoryboardName</key>
    <string>SplashScreen</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>UIRequiresFullScreen</key>
    <false/>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleDefault</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
    <key>UIUserInterfaceStyle</key>
    <string>Automatic</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
  </dict>
</plist>
